DATABASE_URL="postgresql://placementos:placementos@localhost:5432/placementos?schema=public"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Zmlyc3QtbHlueC03OS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_sgjqZq3nUEJwzFtoBsSfUGC7IXZwjO43pwnVLGrmjU
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL="/dashboard"
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL="/dashboard"

GEMINI_API_KEY="AIzaSyBSXwYmSZ5-G9djGI0De6eNDlKUWojBReA"
GEMINI_MODEL="gemini-2.0-flash"

UPLOADTHING_TOKEN="sk_test_..."
